<link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Restaurant name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#menu">
                                <span data-feather="file"></span>
                                Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#add">
                                <span data-feather="file"></span>
                                Add or Edit menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#category">
                                <span data-feather="file"></span>
                                Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Tables
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Account info</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div id="menu"></div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Menu</h1>
                </div>
                <div class="container">
                    <div
                        class="col-md-12 menu-container d-inline-flex justify-content-start flex-wrap align-items-start">

                    </div>
                </div>
                <div id="add"></div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-start pt-3 pb-2 mt-3 mb-3 border-bottom">
                    <h1 class="h2">Add/Edit item</h1>
                </div>
                <div class="container hidden">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="cms">
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input placeholder="Food Title" type="text" class="form-control" id="title">
                                    <br />
                                    <label for="body">Description:</label>
                                    <textarea placeholder="Write your description" class="form-control" rows="10"
                                        id="body"></textarea>
                                    <div class="form-group">
                                        <label for="restaurant">Select Category:</label>
                                        <select class="custom-select" id="restaurant">
                                        </select>
                                    </div>
                                    <label for="price">Price:</label>
                                    <input placeholder="0.00" type="text" class="form-control" id="price">
                                    <br />
                                    <div class="input-group mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group" id="">Upload image:</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile02">
                                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                        </div>
                                    </div>
                                    <br />
                                    <button type="submit" class="btn btn-primary submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="category"></div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-bottom">
                    <h1 class="h2">Categories</h1>
                </div>
                <div class="container">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th># of Items</th>
                                    <th>See category's items</th>
                                    <th>New Category</th>
                                    <th>Delete Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="form-row">
                                    <form id="restaurant-form">
                                        <td colspan="4">
                                            <input placeholder="Enter a name" id="restaurant-name" type="text" />
                                        </td>
                                        <td><button type="submit" class="btn btn-success">Create Category</button>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

        </main>
    </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/menu.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>