<section class="fixed-content">
  <div class="content">

    <div class="content-text">
      <div class="slide" data-slide="0">
        <h2 class="animatable">Enter the digital era and empower your customers</h2>
        <div class="animatable">
          <p>Digital menus provide seamless ordering and payment to create a superior dining experience for restaurants
            and customers.</p>
          <p>
        </div>
      </div>
      <div class="slide" data-slide="1">
        <h2 class="animatable">How it works</h2>
        <div class="animatable">
          <ul>
            <li>Customers scan QR code to order with a smartphone</li>
            <li>Restaurants reduce time wasted waiting for servers, increasing table turns</li>
            <li>Increased customer satisfaction and revenue for restaurants</li>
          </ul>
        </div>
      </div>

      <div class="slide" data-slide="2">
        <h2 class="animatable">No App Download Required</h2>
        <div class="animatable">
          <p>Simply Scan a QR Code</p>
        </div>
      </div>
      <div class="slide" data-slide="3">
        <h1 class="animatable">DEMO</h1>
        <div class="animatable">
          <ul>
            <li>OPEN iPHONE CAMERA</li>
            <li>FOCUS CAMERA ON QR CODE</li>
            <li>CLICK ON THE NOTIFICATION POP-UP</li>
          </ul>
          <h3>(ANDROID: USE A QR CODE SCANNER)</h3>
        </div>
      </div>

    </div>
    <div class="device-frame">
      <div class="image-slides">
        <div class="slide device-slide device-slide1" data-slide="0">
          <img src=" ./images/logo-white.png" alt="logo">
          <p>TurnTable</p>
        </div>
        <div class="slide device-slide device-slide1" data-slide="1">
          <img src=" ./images/logo-white.png" alt="logo">
          <p>TurnTable</p>
        </div>
        <div class="slide device-slide device-slide1" data-slide="2">
          <img src=" ./images/logo-white.png" alt="logo">
          <p>TurnTable</p>
        </div>
        <div class="slide device-slide device-slide1" data-slide="3">
          <img class="animatable" src=" ./images/qr_sample.png" alt="qr_sample">
          <p class="animatable">Try us out<br>Scan HERE</p>
        </div>
      </div>
      <img class="device init-image" src="images/iphone_mockup.png">
    </div>
  </div>
</section>

<section class="panel home" data-section-name="home">
  <div class="inner"></div>
</section>
<section class="panel panel1" data-section-name="second">
  <div class="inner"></div>
</section>
<section class="panel panel2" data-section-name="third">
  <div class="inner"></div>
</section>
<section class="panel panel3" data-section-name="forth">
  <div class="inner"></div>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<srcipt type="text/javascript" src="js/easing.js"></srcipt>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>
<script type="text/javascript" src="js/main.js"></script>